<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/css/carrinho.css">
  </head>

  <%- include('./repeat_views/header'); %>

  <body>
    
  <div class="page-container">

    <h2 style="font-weight: 300;">CARRINHO</h2>

    <div class="cart-container">

    <div class="prev-cart" id="prev-cart">
      

      
    </div>

      <div class="cart-total" >
        <h3>CALCULAR O FRETE</h3>

        <div class="resume">

          <div class="subtotal" id="subtotal">
            
          </div>

      <form action="">
          <div class="shipping">
            <p>Frete</p>
            <div>
              <input onclick="getTotal()" type="radio" id="retire" name="shipping" value="Retirar na loja" checked>
              <label for="retire">Retire na Loja</label><br>
              <input onclick="getTotal()" type="radio" id="sedex" name="shipping" value="35.90" >
              <label for="sedex">SEDEX (35.90)</label><br>
              <input onclick="getTotal()" type="radio" id="pac" name="shipping" value="29.99">
              <label for="pac">PAC (29.90)</label>
            </div>
          </div>

          <a href="">Alterar Endereço de Entrega </a>
          
          <div class="total" id="total-value">

          </div>

            <button type="submit">Ir para o checkout</button>

      </form>

        </div>
      
      
      </div>

    
    </div>

    <div class="back-shop" onclick="location.href='/loja'"><i class="fas fa-arrow-left back-shop-icon"></i> <span>Voltar para a Loja</span></div>


  </div>  

  <!-- Scripts  -->  
  <script src="/javascripts/carrinho.js"></script>

  </body>

  <%- include('./repeat_views/footer'); %>
</html>