<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/carrinho.css">
  </head>

  <%- include('./repeat_views/header'); %>
  <div class="page-container">
  <body>
    
  
    <img class="fotoCabeceira" src="images/carrinho.jpg" alt="fotoPageCart">
    <h2>SHOPPING CART</h2>
    
      <section>
        <div class="compras">
          <article>
            <div class="produto">
              <img class="img-produto" src="/images/produtos/cadeira-anatomica.jpg" alt="">
              <div>
                <span class="nomeProduto">Cadeira Anatômica</span>
                <span class="preco">R$189,00</span>
              </div>
            </div>  
            <div class="quantidade">
              <label>Quantidade:</label>  
              <div class="contador">  
                <input type="button" id="plus" value='-' onclick="process(-1)" />
                <input id="quant" name="quant" class="text" size="1" type="text" value="1" maxlength="5" />
                <input type="button" id="minus" value='+' onclick="process(1)">
              </div> 
              <span class="valorTotal">R$189,00</span>
            </div> 
          </article>
        </div>
        <div>

        </div>
      </section>
  

  </body>
</div>  
  <%- include('./repeat_views/footer'); %>
</html>