<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/carrinho.css">
  </head>

  <%- include('./repeat_views/header'); %>

  <body>
    
  <div class="page-container">

    <h2>CARRINHO</h2>

    <div class="cart-container">

    <div class="prev-cart">
      
      <div class="product">

      <!-- Excluir produto -->
      <i class="far fa-times-circle"></i>
      <!-- Nome do produto -->
      <p class="product-name" >Mesa de centro vintage - Branco, Madeira</p>
      <!-- Valor do Produto -->
      <span class="product-value">R$ 250,00</span>
      <!-- Quantidade -->
      <p class="quantidade">QTD: 2</p>
      <!-- Valor total -->
      <span>R$ 500,00</span>

      </div>

      <div class="product">

        <!-- Excluir produto -->
        <i class="far fa-times-circle"></i>
        <!-- Nome do produto -->
        <p class="product-name" >Mesa de centro vintage - Branco, Madeira</p>
        <!-- Valor do Produto -->
        <span class="product-value">R$ 250,00</span>
        <!-- Quantidade -->
        <p class="quantidade">QTD: 2</p>
        <!-- Valor total -->
        <span>R$ 500,00</span>
        
      </div>
      
    </div>

      <div class="cart-total">
        <h3>TOTAL DA COMPRA</h3>

        <div class="resume">

          <div class="subtotal">
            <p>SUBTOTAL</p>
            <p class="subtotal-value">R$1000,00</p>
          </div>

      <form action="">
          <div class="shipping">
            <p>Frete</p>
            <div>
              <input type="radio" id="retire" name="retirar" value="Retire">
              <label for="retire">Retire na Loja</label><br>
              <input type="radio" id="sedex" name="sedex" value="SEDEX">
              <label for="sedex">SEDEX</label><br>
              <input type="radio" id="pac" name="pac" value="PAC">
              <label for="pac">PAC</label>
            </div>
          </div>

          <a href="">Alterar Endereço de Entrega </a>
          
          <div class="total">
            <p>TOTAL</p>
            <p class="total-value">R$1000,00</p>
          </div>

            <button type="submit">Ir para o checkout</button>

      </form>

        </div>
      
      
      </div>

    
    </div>

    <div class="back-shop" onclick="location.href='/loja'"><i class="fas fa-arrow-left"></i> <span>Voltar para a Loja</span></div>


  </div>  

  </body>

  <%- include('./repeat_views/footer'); %>
</html>