<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/carrinho.css">
  </head>

  <%- include('./repeat_views/header'); %>
  <div class="page-container">
  <body>
    
  
    <img class="fotoCabeceira" src="images/carrinho.jpg" alt="fotoPageCart">
    <h2>SHOPPING CART</h2>
    
      <section>
        <div class="compras">
          <article>
              <img class="img-produto" src="/images/produtos/cadeira-anatomica.jpg" alt="">
              <div class="informacoesProduto">
                <span class="nomeProduto">Cadeira Anatômica</span>
                <span class="preco">R$189,00</span>
              </div>
          </article>
          <div class="quantidade">
            <div class="altera-quantidade">
              <label class="label-quantidade">Quantidade:</label>  
              <div class="contador">  
                <input type="button" id="plus" value='-' onclick="process(-1)" />
                <input id="quant" name="quant" class="text" size="1" type="text" value="1" maxlength="5" />
                <input type="button" id="minus" value='+' onclick="process(1)">
              </div> 
            </div>
           
            <span class="valorTotal">R$189,00</span>
          </div> 
          <a class="comprar-mais" href="../views/shop.ejs">Go back to shopping</a>
         
        </div>
        <div class="carrinho">
          <h2 class="titulo-carrinho">CART TOTALS</h2>
          <form class="entrega"action="">
            <div class="forma-entrega">
              <label class='entrga-escolhida' for="entrega">Free shipping</label>
              <input type="checkbox" name="entrega">
            </div>
            <div class="forma-entrega">
              <label class='entrga-escolhida' for="entrega">Pickup local</label>
              <input type="checkbox" name="entrega">
            </div>
            <div class="forma-entrega">
              <label class='entrga-escolhida' for="entrega">Flate rate R$10</label>
              <input type="checkbox" name="entrega">
            </div>
          </form>
          <h3>Change shipping</h3>
          <div class="valor-carrinho">
            <span>TOTAL</span>
            <span>R$189,00</span>
          </div>
          <button class="prosseguir">PROCEED TO CHECKOUT</button>
          


        </div>
      </section>
  

  </body>
</div>  
  <%- include('./repeat_views/footer'); %>
</html>