<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/css/styleCheckout.css">

</head>

<%- include('./repeat_views/header'); %>

<body>

    
    <div class="todos">
    <p id="dados"> Dados da Conta</p>
    <p id="envio">Opções de envio</p>
    <p id="carrinho">Seu Carrinho</p>
    <p id="pagamento">Forma de Pagamento</p>
    <p id="resumo">Resumo do seu pedido</p>
    <label id="um" for="email"> Para finalizar a compra informe seu endereço de e-mail:</label>
    <textarea id="email"id="story" name="campo">Endereço de e-mail</textarea>

    <form>
    <div>
    <input class="form-check-input" id="opc1" type="radio" name="opc" value="text">
    <label class="form-check-label" for="opc1">Opção de envio 1</label>
    
    <br>
    <br>
    <input id="opc2" type="radio" name="opc" value="text" checked>
    <label for="opc2">Opção de envio 2 </label><br>
    <br>
    </div>
    </form>
    
    <div>
    <label id="Car1"> Produto: </label>
    </div>
    
    <div>
    <label id="Car2"> Quantidade: </label>
    </div>

    <div>
    <label id="Car3"> Valor: </label>
    </div>

    <div class="pag">
    
        <input id="cart" type="radio" name="pag" value="text" checked>
        <label for="cart">Cartão de crédito</label>
        
        <br>
        <hr>
        <br>
        <input id="boleto" type="radio" name="pag" value="text" >
        <label for="boleto">Boleto</label>
        </div>

</div>

</body>

<%- include('./repeat_views/footer'); %>

</html>