<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/css/checkout.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<%- include('./repeat_views/header'); %>

    <body>

        <div class="page-container">

            <h2 style="font-weight: 300;">SEU PEDIDO</h2>

            <div class="checkout-container">

                <div class="bold border">
                    <p>Produtos</p>
                    <p>Total</p>
                </div>

                <div class="thin" id="products">
                    <!-- valor inserido via JS -->
                </div>

                <div class="border" id="subtotal">
                    <!-- valor inserido via JS -->
                </div>

                <div class="border" id="shipping">
                    <!-- valor inserido via JS -->
                </div>

                <div class="user-info">
                    <p style="display: none;">#<%usuario.id %></p> 
                    <p> <%= usuario.nome %> </p>
                    <p><%= usuario.enderecoEntrega %></p>
                </div>

                <div class="bold border" id="total">
                    <!-- valor inserido via JS -->
                </div>  
            </div>

            <div class="payment-container">
                <h3>MÉTODO DE PAGAMENTO</h3>

                <div>
                      <input onclick="getTotal()" type="radio" id="retire" name="shipping" value="Retirar na loja" checked>
                      <label for="retire">Na entrega/retira</label><br>
                      <input onclick="getTotal()" type="radio" id="sedex" name="shipping" value="35.90" >
                      <label for="sedex">Cartão de crédito</label><br>
                    </div>
                    
                    <button>CONFIRMAR COMPRA</button>

                </div>
        </div>

    <!-- Scripts -->
    <script src="/javascripts/checkout.js"></script>

    </body>

    <%- include('./repeat_views/footer'); %>

</html>