<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/index.css">
  </head>

  <%- include('./repeat_views/header'); %>

  <body>
    
    <div class="page-container">

      <h2>DESTAQUES</h2>

      <section class="section1">

        <article class="banner" onclick="location.href='/loja'">
          <span class="text-banner">MESAS E CADEIRAS</span>
          <img src="images/produtos/criado.jpg" alt="">
        </article>

        <div class="bannerx2">
          <article onclick="location.href='/loja'">
            <span class="text-banner">DECORAÇÃO</span>
            <img src="images/produtos/vaso-01.jpg" alt="">
          </article>
          <article onclick="location.href='/loja'">
            <span class="text-banner">LUSTRES</span>
            <img src="images/produtos/lustre-01.jpg" alt="">
          </article>
        </div>

      </section>

      <div class="mid-text">
        <h3>Seja bem-vindo!</h3>
        <p>Aqui você encontra a maior variedade de móvies e decorações para a sua casa!</p>
      </div>

      <h2>EM ALTA</h2>

      <section class="section2">

        <article onclick="location.href='/produto'">
          <img src="images/produtos/mesa-de-centro.jpg" alt="">
          <div>
            <p>Mini Mesa de Centro</p>
            <span>R$125,00</span>
          </div>
        </article>

        <article onclick="location.href='/produto'">
          <img src="images/produtos/cadeira-anatomica.jpg" alt="">
          <div>
            <p>Cadeira Anatômica</p>
            <span>R$189,00</span>
          </div>
        </article>
        
        <article onclick="location.href='/produto'">
          <img src="images/produtos/cesto.jpg" alt="">
          <div>
            <p>Cesto Decorativo</p>
            <span>R$45,00</span>
          </div>
        </article>

        <article onclick="location.href='/produto'">
          <img src="images/produtos/mesa-de-centro2.jpg" alt="">
          <div>
            <p>Mesa de Centro Redonda</p>
            <span>R$45,00</span>
          </div>
        </article>

        <article onclick="location.href='/produto'">
          <img src="images/produtos/lustre-02.jpg" alt="">
          <div>
            <p>Lustre Luxo Redondo</p>
            <span>R$149,99</span>
          </div>
        </article>

        <article onclick="location.href='/produto'">
          <img src="images/produtos/relogio1.jpg" alt="">
          <div>
            <p>Relógio Clássico Preto</p>
            <span>R$59,00</span>
          </div>
        </article> 

      </section>


    </div>
    
    
  </body>

  <%- include('./repeat_views/footer'); %>
</html>
