<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/index.css">
  </head>

  <%- include('./repeat_views/header'); %>

  <body>
    
    <div class="page-container">

      <h2>Destaques</h2>

      <section class="section1">

        <article class="banner">
          <img src="" alt="">
        </article>

        <div class="bannerx2">
          <article><img src="" alt=""></article>
          <article><img src="" alt=""></article>
        </div>

      </section>

      <div class="mid-text">
        <h3>Seja bem-vindo!</h3>
        <p>Aqui você encontra a maior variedade de móvies e decorações para a sua casa!</p>
      </div>

      <h2>Em Alta</h2>

      <section class="section2">

        <article>
          <img src="" alt="">
          <div>
            <p>Lorem Ipsum</p>
            <span>R$45,00</span>
          </div>
        </article>

        <article>
          <img src="" alt="">
          <div>
            <p>Lorem Ipsum</p>
            <span>R$45,00</span>
          </div>
        </article>
        
        <article>
          <img src="" alt="">
          <div>
            <p>Lorem Ipsum</p>
            <span>R$45,00</span>
          </div>
        </article>

        <article>
          <img src="" alt="">
          <div>
            <p>Lorem Ipsum</p>
            <span>R$45,00</span>
          </div>
        </article>

        <article>
          <img src="" alt="">
          <div>
            <p>Lorem Ipsum</p>
            <span>R$45,00</span>
          </div>
        </article>

        <article>
          <img src="" alt="">
          <div>
            <p>Lorem Ipsum</p>
            <span>R$45,00</span>
          </div>
        </article> 

      </section>


    </div>
    
    
  </body>

  <%- include('./repeat_views/footer'); %>
</html>
