<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/minhaConta.css">
</head>

<body>
    <%- include('./repeat_views/header'); %>
    <div class="page-container">
    <section class="usuario">
        <img class= "fotoUsuario" src="images/usuarios/foto-usuario.jpg" alt="imagemUsuario">
        <span>
            Olá @usuário!
        </span>
        <br>
        <lu class="lista">
            <li class="itemLista"><a href="" style = "text-decoration:none">Painel</a></li>
            <li class="itemLista"><a href="" style = "text-decoration:none">Pedidos</a></li>
            <li class="itemLista"><a href="" style = "text-decoration:none">Detalhes da conta</a></li>
            <li class="itemLista"><a href="" style = "text-decoration:none">Sair</a></li>
        </lu>
    </section>
    <section class="compras">
        <p class= "paragrafo">
            Nenhuma compra realizada :(
        </p>
        pode cre, 
        <button class="botao" >COMPRAR</button></a>
    </section>
    </div>
    <%- include('./repeat_views/footer'); %>
</body>

</html>