<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce_SafePayment</title>
    <link rel="stylesheet" href="css/pagamento.css">
</head>

<body>
    <!-- <div class="page-container"> -->
    <%- include('./repeat_views/header'); %>
    <div class="page-container">
        <img class= "cartao" src="images/foto-cabeceira-pagamento.jpg" alt="Cartão pagando">
        <!-- <h2>SAFE PAYMENT</h2> -->
    
        <p class="sobre-loja">
            Argumento sobre qualidade da loja/marca lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum 
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>

        <section >
            <div class ="pagamento">
                <h2>SAFE PAYMENT</h2>
                <div>
                    Nome: Pedro Augusto Schil de Souza
                    <br><br>
                    Endereço de entrega: dados do usuario  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    <br><br>
                    Forma de pagamento lorem dados do usuario lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    <br>
                </div>
            <article class="produto">
                <img class="img-produto"src="images/sofa.jpg" alt="sofa branco">
                <div class="informacoes-produto">
                    <span class="nome-produto">
                           Cadeira anatômica
                    </span>
                    <span>R$189,00</span>
                    <span>Quantidade:1</span>
                    <span class="valor-soma">Total:189,00</span>
                </div>
            </article>
                <div class = "realizar-pagamento">
                    <button>Efetuar Pagamento</button>
                    <div class = "valor">
                        VALOR TOTAL: R$189,00
                    </div>
                </div>
            </div>
            <div class="comentarios">
                comentarios redes sociais para gerar confiança no serviço e produto lorem usarios  lorem ipsum lorem 
                ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum 
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
                lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            </div>
        </section>
    </div>
    <%- include('./repeat_views/footer'); %>
    <!-- </div> -->
</body>
</html>