<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAFE PAYMENT</title>
    <link rel="stylesheet" href="css/pagamento.css">
</head>

<body>
    <!-- <div class="page-container"> -->
    <%- include('./repeat_views/header'); %>
    <div class="page-container">
        <img class= "cartao" src="images/pagmento.jpg" alt="Cartão pagando">
    
        <p>
            Argumento sobre qualidade da loja/marca lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum 
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </p>

        <section >
            <div class ="pagamento">
                <div>
                    dados do usuario lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    <br><br>
                    dados do usuario  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    <br><br>
                    dados do usuario lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    <br>
                </div>
                <article class="produto">
                    <img class="img-produto"src="images/sofa.jpg" alt="sofa branco">
                    <div class="informacoes-produto">
                        <span class="nome-produto">
                           Cadeira natômica
                        </span>
                        <span>R$189,00</span>
                        <span>Quantidade:1</span>
                        <span>Total:189,00</span>
                    </div>
                        
                    
                    
                </article>
                
                <div class = "realizar-pagamento">
                    <div class = "valor">
                        VALOR TOTAL: R$189,00
                    </div>
                    <button>Efetuar Pagamento</button>
                </div>

            </div>
            <div class="comentarios">
                comentarios usarios  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum 
                lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
                lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
            </div>
        </section>
    </div>
    <%- include('./repeat_views/footer'); %>
    <!-- </div> -->
</body>
</html>