<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAFE PAYMENT</title>
    <link rel="stylesheet" href="/projeto-dh/public/css/paginaPagamento.css">
</head>
<body>
    
    <img src="/projeto-dh/public/images/pagmento.jpg" alt="Cartão pagando">
   
    <p>
        Argumento sobre qualidade da loja/marca lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum 
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
        lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    </p>

    <section >
        <div class ="pagamento">
            <div>
                dados do usuario lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                <br><br>
                dados do usuario  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                <br><br>
                dados do usuario lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                <br>
            </div>
            <div class="produto">
                <img src="/projeto-dh/public/images/sofa.jpg" alt="sofa branco">
                <p>
                    Descrição do produto lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem 
                    ipsum lorem ipsum lorem ipsum
                </p>
            </div>
            
            <div class = "realizarPagamento">
                <div class = "valor">
                    VALOR TOTAL: R$ 0,00
                </div>
                <button>Efetuar Pagamento</button>
            </div>

        </div>
        <div class="comentarios">
            comentarios usarios  lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum 
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
            lorem ipsumlorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
        </div>
    </section>

</body>
</html>