<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/produto.css">
  </head>

  <%- include('./repeat_views/header'); %>

  <body>
    
    <div class="page-container">
    
        <div class="img-predesc-container">

            <section>
                <div class="tumbs">
                    <a href=""><img class="mini-img" src="images/produtos/cesto.jpg" alt=""></a>
                    <a href=""><img class="mini-img" src="images/produtos/cesto.jpg" alt=""></a>
                    <a href=""><img class="mini-img" src="images/produtos/cesto.jpg" alt=""></a>
                    <a href=""><img class="mini-img" src="images/produtos/cesto.jpg" alt=""></a>
                </div>

                <div>
                    <a href=""><img class="picture" src="images/produtos/cesto.jpg" alt=""></a>
                </div>
            </section>

            <div class="pre-description">
                    <h3>CESTO DECORATIVO</h3>
                    <p class="valor">R$34,00</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. 
                        Cum sociis natoque penatibus et magnis dis parturient.
                    </p>
                    <span>03 disponíveis</span>

                    <div>
                    <form action="">
                    <h4>QTD</h4>
                    <input type="number" name="" id="">
                    <button> <img src="images/shopping-cart.png" alt=""> colocar no carrinho</button>
                    </form>

                    </div>
            </div>
        </div>
        <!-- Botões descrição e informações adicionais -->
        <div class="buttons">
          <div class="btn-description" id="btn-description" onclick="descriptionBtn()"><h5>DESCRIÇÃO</h5></div>
          <div class="btn-moreInfo" id="btn-moreInfo" onclick="moreInfoBtn()"><h5>INFORMAÇÕES ADICIONAIS</h5></div>
        </div>
        <!-- Descrição/Informação Adicional -->
        <div class="infos">
          <p id="description" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. 
             Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis. 
             Maecenas ut tellus mi. Proin tincidunt, lectus eu volutpat mattis, ante metus lacinia tellus, vitae condimentum nulla enim bibendum nibh.
             Praesent turpis risus, interdum nec venenatis id, pretium sit amet purus. Interdum et malesuada fames.</p>

             <p id="moreInfo">
              Peso: 2 kg <br>
              Dimensões: 10 × 10 × 15 cm <br>
              Cor: Rosa <br>
              Material: Madeira</p>
            
        </div>

    </div>  


    <!-- Script Btn -->
<script>
  function moreInfoBtn() {

    var descriptionBtn = document.getElementById("btn-description");
    var moreInfoBtn = document.getElementById("btn-moreInfo")
    var descInfo = document.getElementById("description")
    var moreInfo = document.getElementById("moreInfo")

    descriptionBtn.style.backgroundColor = "white"
    descriptionBtn.style.color = "black"
    descriptionBtn.style.border = "1px solid #575757"
    moreInfoBtn.style.border = "none"
    moreInfoBtn.style.backgroundColor = "#003884"
    moreInfoBtn.style.color = "white"
    descInfo.style.display = "none"
    moreInfo.style.display = "block"
  }

  function descriptionBtn() {

    var descriptionBtn = document.getElementById("btn-description");
    var moreInfoBtn = document.getElementById("btn-moreInfo")
    var descInfo = document.getElementById("description")
    var moreInfo = document.getElementById("moreInfo")

    moreInfoBtn.style.backgroundColor = "white"
    moreInfoBtn.style.color = "black"
    moreInfoBtn.style.border = "1px solid #575757"
    descriptionBtn.style.backgroundColor = "#003884"
    descriptionBtn.style.color = "white"
    descriptionBtn.style.border = "none"
    descInfo.style.display = "block"
    moreInfo.style.display = "none"
}
</script>

  </body>

  <%- include('./repeat_views/footer'); %>
</html>
