<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/produto.css">
  </head>

  <%- include('./repeat_views/header'); %>

  <body>
    
    <div class="page-container">
    
        <div class="img-desc-container">

            <section>
                <div class="tumbs">
                    <a href=""><img class="mini-img" src="" alt=""></a>
                    <a href=""><img class="mini-img" src="" alt=""></a>
                    <a href=""><img class="mini-img" src="" alt=""></a>
                    <a href=""><img class="mini-img" src="" alt=""></a>
                </div>

                <div>
                    <a href=""><img class="picture" src="" alt=""></a>
                </div>
            </section>

            <div class="pre-description">
                    <h3>LOREM IPSUM</h3>
                    <p>R$34,00</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. 
                        Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. 
                        Vestibulum ultricies aliquam convallis.
                    </p>
                    <span>03 disponíveis</span>

                    <div>
                    <form action="">
                    <h4>QTD</h4>
                    <input type="number" name="" id="">
                    
        
                    </form>

                    </div>

            </div>

        </div>
    </div>  
  </body>

  <%- include('./repeat_views/footer'); %>
</html>
