<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/css/sobre-nos.css">
  </head>

  <%- include('./repeat_views/header'); %>

  <body>
    
  <div class="page-container">
      
    <img class="logo-sobre" src="/images/sobre-logo.png" alt="">

    <!-- Título -->
<div style="width: 100%;">
    <div class="sobre-title">
        <h3>SOBRE-NÓS</h3>
    </div>
    <!-- Descrição/Informação Adicional -->
    <div class="infos">
        <p id="info1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. 
            Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis. 
            Maecenas ut tellus mi. Proin tincidunt, lectus eu volutpat mattis, ante metus lacinia tellus, vitae condimentum nulla enim bibendum nibh.
            Praesent turpis risus, interdum nec venenatis id, pretium sit amet purus.</p>
          <div class="social-medias">
            <a href="https://www.facebook.com"><img src="/images/facebook2.png" alt=""></a>
            <a href="https://www.instagram.com"><img src="/images/instagram2.png" alt=""></a>
          </div>

    </div>
</div>
    

  </div>

  </body>

  <%- include('./repeat_views/footer'); %>
</html>