<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/sobre-nos.css">
  </head>

  <%- include('./repeat_views/header'); %>

  <body>
    
  <div class="page-container">
      
    <img src="images/sobre-logo.png" alt="">

    <!-- Botões descrição e informações adicionais -->
<div>
    <div class="buttons">
        <div class="btn-sobre"><h5>SOBRE</h5></div>
        <div class="btn-socialmedia"><h5>MÍDIAS SOCIAIS</h5></div>
    </div>
    <!-- Descrição/Informação Adicional -->
    <div class="infos">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. 
            Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis. 
            Maecenas ut tellus mi. Proin tincidunt, lectus eu volutpat mattis, ante metus lacinia tellus, vitae condimentum nulla enim bibendum nibh.
            Praesent turpis risus, interdum nec venenatis id, pretium sit amet purus. Interdum et malesuada fames.</p>
      
        <!-- <p>
         Peso	2 kg <br>
         Dimensões	10 × 10 × 15 cm <br>
         Cor	<br>
         Rosa <br>
         <br>
         Material: Madeira</p> -->
                  
    </div>
</div>
    

  </div>  
  </body>

  <%- include('./repeat_views/footer'); %>
</html>