
.page-container{

    padding: 80px 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.fotoCabeceira{
    width: 100%;
    margin-bottom: 30px;
    height: 35vh;
    min-height: 200px;
}

section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

article{
    display: flex; 
    justify-content: space-between;
    width: 50%;
    /* flex-wrap: wrap; */
}

.label-quantidade{
    padding-top: 35px;
    color:#939393;
}

.compras{
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-wrap: wrap;
}

.produto{
    display: flex;
}

.img-produto{
    width: 10%;
    min-width:100px ;
    height: 80px;
}

.informacoesProduto{
    display: flex;
    justify-content: space-around;
    width: 85%;
    padding-top: 35px;
}

.nomeProduto{
    font-weight: bold;
}

.preco{
    /* font-size: 13px; */
    color: #939393
}

.quantidade{
    display: flex;
    width: 45%;
    justify-content: space-between;

}

.altera-quantidade{
    display: flex;
}

.contador{
    min-width: 100px;
    padding-top: 35px;
}

.valorTotal{
    font-weight: bold;
    width: 25%;
    padding-top: 35px;
}

.comprar-mais{
    color:#939393;
}

.carrinho{
    display: flex;
    flex-direction: column ;
    background-color: rgb(240, 238, 238) ;
    width: 30%;
    align-items: center;
    /* text-align: center; */
}
.titulo-carrinho{
    text-align: center;
}

.entrega{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    /* width: 40%; */
    /* min-width: 40%; */
    /* margin-top: null; */
    /* align-self: center; */
}

.forma-entrega{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color:#939393;
}

.valor-carrinho{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #939393;
    width: 80%;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 10%;
}

.prosseguir{
    width: 90%;
    height: 40px;
    background-color: #003884;;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer; 
}

/* responsive */

@media (max-width: 1024px){
    .compras{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 1024px){

}

