
.page-container{

    padding: 80px 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.fotoCabeceira{
    width: 100%;
    margin-bottom: 30px;
    height: 35vh;
    min-height: 200px;
}

section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

article{
    display: flex; 
    justify-content: space-between;
    width: 50%;
    /* flex-wrap: wrap; */
}

label{
    padding-top: 35px;
}

.compras{
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-wrap: wrap;
}

.produto{
    display: flex;
}

.img-produto{
    width: 10%;
    min-width:100px ;
}

.informacoesProduto{
    display: flex;
    justify-content: space-around;
    width: 85%;
    padding-top: 35px;
}

.quantidade{
    display: flex;
    width: 45%;
    justify-content: space-between;

}

.altera-quantidade{
    display: flex;
}

.contador{
    min-width: 100px;
    padding-top: 35px;
}

.valorTotal{
    width: 25%;
    padding-top: 35px;
}

.carrinho{
    background-color:  rgb(212, 208, 208);
    width: 30%;
}

/* responsive */


/* @media (max-width: 1420px){
    .compras{
        display: flex;
        flex-direction: column;
    }
} */

/* @media (max-width: 1240px){

    .compras{
        display: flex;
        flex-direction: column;
    }
} */


@media (max-width: 1024px){
    .compras{
        display: flex;
        flex-direction: column;
    }
}



@media (max-width: 860px) {
    .compras{
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 820px) {
    .compras{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .compras{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 668px) {
    .compras{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 520px) {
    .compras{
        display: flex;
        flex-direction: column;
    }
}




@media (max-width: 480px) {

   .compras{
       display: flex;
       flex-direction: column;
   }
}

