
.page-container{

    padding: 80px 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.fotoCabeceira{
    width: 100%;
    margin-bottom: 30px;
    height: 35vh;
    min-height: 200px;
}

section{
    /* display: flex; */
    width: 100%;
}

article{
    display: flex; 
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

label{
    padding-top: 35px;
}

.compras{
    width: 65%;
}

.produtos{
    display: flex;
}

.img-produto{
    width: 10%;
    min-width:100px ;
}

.nomeProduto{
    padding-top: 40%; 
}

.preco{
    padding-top: 35px;
}

.quantidade{
    display: flex;
    /* width: auto; */
}

.contador{
    min-width: 100px;
    padding-top: 35px;
}

.valorTotal{
    width: 25%;
    padding-top: 35px;
}