.page-container{
    padding: 10% 10% 5% 10%;
}

h2{
    margin-top: 0;
}

.section1{
    display: flex;
    justify-content: space-between;
}

.section1 article{
    cursor: pointer;
}

.banner{
    height: 450px;
    width: 70%;
}

.text-banner{
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    padding: 20px;
}


.bannerx2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}


section .bannerx2 article{
    height: 200px;
}

.mid-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.mid-text p{
    text-align: center;
}

h3{
    margin-top: 5%;
}

.section2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section2 article{
    width: 30%;
    height: 200px;
    margin-bottom: 10%;
    cursor: pointer;
}

.section2 article div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 p{
    font-weight: bold;
}

.section2 span{
    font-size: 13px;
    color: #939393;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mobile */

@media (max-width: 480px) {
    .page-container {
        padding: 30% 10% 5% 10%;
    }

    .section1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .banner {
        /* height: 450px; */
        width: 100%;
    }

    .bannerx2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    section .bannerx2 article {
        /* height: 200px; */
        margin-top: 20px;
    }

    .section2 article {
        width: 100%;
        height: 200px;
        margin-bottom: 35%;
        cursor: pointer;
    }
}

