.page-container{

    padding: 100px 10% 5% 10%;
    display: flex;
    flex-direction: row;
    height: 80vh;
}
title{
    display: none;
}
body{
 
    align-self: center;
    /* margin-top: 10% ;
    margin-bottom: 5%; */
    /* background-color: rgb(143, 120, 31); */
    /* flex-direction: row;
    justify-content: space-between; */
    /* padding: 10% 10% 5% 10%; */
}
.usuario{
    width: 30%;
    height: 50%;
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.compras{
    width: 60%;
    height: 5%;
    display: flex;
    /* background-color: darkblue; */
    flex-direction: row;
    justify-content: space-between;
}
.paragrafo{
    width: 50%;
    text-align: right;
}

.botao{
   
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 20px;
    background-color: black;
    color:white;
}
.imagem-usuario{
    height: 30%;
}