body{
    overflow-x: hidden !important;
    align-self: center;
}

.page-container{

    padding: 10% 10% 5% 10%;
    display: flex;

}
.usuario{
    width: 30%;
    height: 50%;
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.usuario img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.usuario span{
    margin-top: 20px;
    font-weight: 500;
}

.usuario ul{
    list-style: none;
    padding: 0;
    line-height: 2;
}

.usuario ul .destaque{
    color: #000 !important;
    font-weight: bold;
}

.usuario ul li a{
    text-decoration: none;
    color: #939393;
}

.usuario ul li a:hover{
    color: #000;
}

.usuario ul li a:focus{
    color: #939393;
}

.flex{
    display: flex;
}

.none{
    display: none;
}

#detalhes{
    width: 100vw;
    justify-content: center;
}

#alerta{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
}
#alerta p{
    background-color: #f8d7da;
    color: #721c24;
    border-radius: .25rem;
    border-color: #f5c6cb;
    border: 1px solid transparent;
    height: 45px;
    font-weight: bold;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
}

#alerta p button{
    background: none;
    border: 1px solid transparent;
    font-size: 16px;
    color: #b57a7f;
    cursor: pointer;
}

#alerta p button:hover{ 
color: #211810;
}

form{
    width: 80%;
}

form p{
    font-weight: bold;
}

label{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

label input{
    height: 45px;
    border: 1px solid #939393;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 3%;
    margin-top: 2%;
}

#endereco{
    width: 100vw;
    justify-content: center;
}

.compras{
    width: 60%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#no-shop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
}

.botao{
    justify-content: center;
    align-items: center;
    width: 30%;
    min-height: 20px;
    background-color: #003884;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 500;

}

.botao:hover{
    background-color: #0059d4;
}

.botao:focus{
    background-color: #003884;
}

#pedidos{
    flex-wrap: wrap;
}

#pedido{
    width: 200px;
    height: 230px;
    border: 1px solid #cdcd30;
    border-bottom: dashed 2px#cdcd30;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffc7;
    border-radius: 5px;
    padding: 10px;
}

.fiscal-note{
    margin-top: 5%;
    margin-left: 5%;
}

.fiscal-note h3{
    font-weight: 400;
    font-size: 14px;
}

.products{
    display: flex;
    flex-direction: column
}

.products span{
    margin-top: 5px;
    font-size: 12px;
}

#pedido > div > span:nth-child(1){
    font-weight: bold;
}
#pedido > div > span:nth-child(1) > span{
    font-weight: 300;
}

#pedido > div > span:nth-child(2){
    font-weight: bold;
}

#pedido > div > span:nth-child(2) > span{
    font-weight: 300;
}

#pedido > a{
    width: 50%;
    height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    background-color: #003884;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 15%;
}

#pedido > a:hover{
   background-color: #0059d4;
}
