.page-container{

    padding: 100px 10% 5% 10%;
    display: flex;
    flex-direction: row;
    height: 80vh;
}
title{
    display: none;
}
body{
 
    align-self: center;
  
}
span{
    align-self: center;

}
section li a{
    color: #939393;
    font-size: 13px;
}
.usuario{
   
    display: flex;
    flex-direction: column;
    
}
.lista{
    align-self: center;
    list-style: none;
    
}
.itemLista{
    margin:5px;
    text-decoration: none;
}
.compras{
    width: 60%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.paragrafo{
    width: 50%;
    text-align: right;
    margin-top: 0;
}

.botao{
   
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 100px;
    min-height: 20px;
    background-color: black;
    color:white;
}
.fotoUsuario{
    height: 30%;
    width: 100%;
    border-radius: 50%;
    min-height: 80px;
}