.page-container{

    padding: 85px 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.cartao{
    height: 35vh;
    width:100%;
    align-self: center;
    min-height: 200px;
    margin-bottom: 4%;

}

.sobre-loja{
    color: #939393;
    margin-bottom: 4%;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.pagamento{
    width: 60%;
    height: 100%;
    
    /* background: rgb(212, 208, 208); */
    padding: 6px;
    border: 1px solid #939393;

    /* border: black;
    border: solid;
    border: 1px; */
    
    /* border-top-color: #000; */
}

h2{
    text-align: center;
}

.produto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(249, 249, 249) ;
    margin-top: 5px;
    margin-bottom: 6px;
    height: 30%;
}

.img-produto {
   width: 15%;
   min-width: 100px;
   height: 100%;
   
}

.informacoes-produto{
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-top: 50px;
}

.nome-produto{
    font-weight: bold;
}

.valor-soma{
    font-weight: bold;
}

.realizar-pagamento{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.valor{
    width: 30%;
    text-align: center;
    padding-top:15px;
    font-weight: bold;
}

button{
    width: 90%;
    height: 40px;
    background-color: #003884;;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer; 
}

.comentarios{
    width:30%;
    height: 100%;
    color: #939393
}
/* Responsive */

@media (max-width: 1637px){
    .valor{
        padding-top: 1px;
        width: 18%;
    }
}

@media (max-width: 1506px){
    .valor{
        font-size: 0.8em;
    }
    .informacoes-produto{
        padding-top: 40px;
    }
    }


@media (max-width: 1124px){
    .informacoes-produto{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        margin-left: 20px;
    }
}