.page-container{

    padding: 85px 10% 5% 10%;
    display: flex;
    flex-direction: column;

}
title{
    align-self: center;
}

body {
    background-color: white;
    align-self: center;
}

.cartao{
    height: 35vh;
    width:100%;
    align-self: center;
    min-height: 200px;

}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
section div div img {
   width: 15%;
   min-width: 100px;
   
}
section div div p{
    width: 80%;
    font-size:0.8em ;
}
.pagamento{
    width: 60%;
    height: 100%;
    background: rgb(212, 208, 208);
    padding: 6px;
}
.produto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
}
.descricaoProduto{
    padding-left: 6px;
}
  
.comentarios{
    width:30%;
    height: 100%;
}

.realizarPagamento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.valor{
    width: 50%;
    padding-top: 12px 0 0 0;
    /* height: 40px; */
}
button{
    width: 50%;
    height: 40px;
    background-color: #003884;;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer; 
/* 
    align-items: center;
    width: 50%;
    background-color: black;
    color:white; */
}