.page-container{

    padding: 80px 10% 5% 10%;
    display: flex;
    flex-direction: column;
    /* height: 100%;
    width: 100%; */

}
title{
    align-self: center;
}

body {
    background-color: white;
    /* width: 80%; */
    align-self: center;
}

.cartao{
    height: 35vh;
    width:100%;
    align-self: center;

}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
section div div {
    /* flex-direction: row;
    justify-content: space-between; */
    /* margin: 5px 0px 5px 0px; */
    /* height: 50%; */
}
section div div img {
   width: 15%;
   min-width: 100px;
   /* height: 100%; */
}
section div div p{
    width: 80%;
    font-size:0.8em ;
}
.pagamento{
    width: 60%;
    height: 100%;
    background: rgb(212, 208, 208);
    padding: 6px;
}
.produto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
}
  
.comentarios{
    width:30%;
    height: 100%;
}

.realizarPagamento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.valor{
    width: 50%;
}
button{
    /* display: flex;
    justify-content: center; */
    align-items: center;
    width: 50%;
    background-color: black;
    color:white;
}