.page-container{

    padding: 10% 10% 5% 10%;

}

body{
    overflow-x: hidden;
}

/* Imagens do produto - Products images */

.img-predesc-container{
    display: flex;
}

.img-predesc-container section{
    display: flex;
}

.tumbs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%;
}

.picture{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.mini-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* Pré Descrição - Previous Description */

h3{
    margin: 0;
}
.pre-description{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 100%;
}

.valor{
    margin: 10px 0px;
    font-size: 22px;
    font-weight: 500;
    display: flex;
}

.top-valor{
    display: flex;
    margin-top: 2%;
}

.pre-description span{
    font-size: 12px;
}

.reais{
    margin-right: 5px;
    font-weight: 300;
}

#form{
    display: flex;
    align-items: center;
}

#form input{
    margin: 0% 5% 0% 1%;
    width: 10%;
    outline: none;
}

#form button{
    background-color: #003884;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 35px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

#form button:hover{
    background-color: #0059d4;
}

#form button:focus{
    background-color: #003884;
}

#form button img{
    height: 20px;
}

/* Botões Descrição e informações adicionais e infos */

.buttons{
    display: flex;
    margin-top: 5%;
}

.btn-description{
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    width: 15%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #003884;
    cursor:pointer;
}

.btn-moreInfo{
    border: 1px solid #575757;
    border-radius: 0px 10px 10px 0px;
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.infos{
    margin: 2% 0% 5% 0;
    line-height: 25px;
}

#moreInfo{
    display: none;
}



/* Responsive */


@media (max-width: 1300px) {
    form button {
        width: 50%;
    }
}

@media (max-width: 1230px) {
    .page-container{
    padding: 12% 10% 5% 10%;
    }
}

@media (max-width: 1240px){

    .page-container {
        padding: 12% 10% 5% 10%;
    }
}

@media (max-width: 1100px) {

    form button {
        width: 30%;
    }

    .img-predesc-container {
        flex-direction: column;
    }

    .pre-description {
        margin-left: 0%;
        margin-top: 5%;
    }

}



@media (max-width: 1024px) {
    .page-container{
    padding: 14% 10% 5% 10%;
    }

    .btn-description{
        width: 30%;
        height: 30px
    }

    .btn-moreInfo {
        width: 70%;
        height: 30px;
    }
}

@media (max-width: 820px) {
    .page-container{
    padding: 16% 10% 5% 10%;
    
    }

}

@media (max-width: 768px) {
    .page-container{
    padding: 18% 10% 5% 10%;
    }
}

@media (max-width: 668px) {
    .page-container{
    padding: 20% 10% 5% 10%;
    }

    form button {
        width: 45%;
    }
    .mini-img {
        width: 70px;
        height: 70px;
    }
    .picture {
        width: 85%;
        height: 98.5%;
    }
    
}


@media (max-width: 520px) {
    .page-container {
        padding: 25% 10% 5% 10%;
    }

    form input {
        margin: 0% 5% 0% 2%;
        width: 15%;
    }

    form button {
        width: 60%;
    }
}

@media (max-width: 480px) {

    .page-container {
        padding: 30% 10% 5% 10%;
    }

    .mini-img {
        width: 50px;
        height: 50px;
    }
    
}