.page-container{

    padding: 10% 10% 5% 10%;

}

/* Imagens do produto - Products images */

.img-predesc-container{
    display: flex;
}

.img-predesc-container section{
    display: flex;
}

.tumbs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%;
}

.picture{
    border: 1px solid red; /* temporario */
    width: 400px;
    height: 400px;
}

.mini-img{
    border: 1px solid red; /* temporario */
    width: 80px;
    height: 80px;
}

/* Pré Descrição - Previous Description */

h3{
    margin: 0;
}
.pre-description{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.valor{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 300;
}

.pre-description span{
    font-size: 12px;
}

form{
    display: flex;
    align-items: center;
}

form input{
    margin: 0% 1% 0% 1%;
    width: 7.5%;
}

form button{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 35px;
    border: 0;
    border-radius: 10px;
}

form button img{
    height: 20px;
}

/* Botões Descrição e informações adicionais e infos */

.buttons{
    display: flex;
    margin-top: 5%;
}

.btn-description{
    border: 1px solid #000;
    width: 10%;
    text-align: center;
    background-color: black;
    color: white;
}

.btn-moreInfo{
    border: 1px solid #000;
    width: 20%;
    text-align: center;
}

.infos{
    margin: 2% 0% 5% 0;
}