.page-container{

    padding: 10% 10% 5% 10%;
    
}

.flex{
    display: flex;
}

h2{
    margin: 0px 0px 40px 0px;
}

/* FILTROS */

h5{
    margin: 0;
}

.filters{
    width: 20%;
}

.filters div{
    margin-bottom: 20%;
}

.filters div ul{
    list-style: none;
    padding: 0;
}

.filters div ul li{
    margin-bottom: 2%;
}

.filters div ul li a{
    text-decoration: none;
    color: #939393;
    font-size: 13px;
}

.filters form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 5%;
}

.filters form label{
    font-size: 13px;
    color: #939393;
}

input[type="number"]{
    width: 50%;
    margin-bottom: 5%;
    border: 1px solid #939393;
}

.apply{
    width: 50%;
    height: 25px;
    background-color: #003884;;
    border: 0;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}

/* PRODUTOS */

.products{
    width: 80%;
}

.products section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products section article{
    width: 20%;
    height: 280px;
    margin-left: 5%;
    margin-bottom: 10%;
}

.products section article div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    font-weight: bold;
    cursor: pointer;
}

span{
    font-size: 13px;
    color: #939393;
}

.pagination-container{
    display: flex;
    padding: 1% 10% 5% 60%;
}

.pagination-container nav{
    width: 100vw;
}

.pagination-container nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.pagination-container nav ul li{
    margin-right: 10%
}

.view-all{
    width: 100%;
    display: flex;
    align-items: center
}

.view-all a{
    text-decoration: none;
    color: #939393;
}

.pagination-container nav ul li a{
    text-decoration: none;
    color: #939393;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Responsive*/

@media (max-width: 1420px){
    .products section article div p{
        font-size: 14px;
    }
}

@media (max-width: 1240px){

    .page-container {
        padding: 12% 10% 5% 10%;
    }

    .products section article {
        width: 25%;
        margin-bottom: 20%;
    }

    .products section article div p{
        font-size: 12px;
    }
}


@media (max-width: 1024px){
    .page-container {
        padding: 14% 10% 5% 10%;
    } 

    .filters{
        width: 25%;
    }

    .products {
        width: 75%;
    }

    .products section article {
        width: 40%;
    }

    .pagination-container {
        padding: 1% 10% 5% 50%;
    }
}



@media (max-width: 860px) {
    .filters{
        width: 30%;
    }

    .products {
        width: 70%;
    }
    
}

@media (max-width: 820px) {
    .page-container{
    padding: 16% 10% 5% 10%;
}
}

@media (max-width: 768px) {
    .page-container{
    padding: 18% 10% 5% 10%;
}
}

@media (max-width: 668px) {
    .page-container{
    padding: 20% 10% 5% 10%;
}
    .flex {
        display: flex;
        flex-direction: column-reverse;
    }

    .products {
        width: 100%;
    }

    .products section article {
        width: 100%;
        height: 280px;
        margin-left: 0;
        margin-bottom: 35%;
    }

    .filters {
        width: 100%;
    }

    .pagination-container {
        display: flex;
        padding: 5% 10% 5% 10%;
    }

    .view-all {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 520px) {
    .page-container {
        padding: 25% 10% 5% 10%;
    }
}

@media (max-width: 480px) {

    .page-container {
        padding: 30% 10% 5% 10%;
    }
}

