.page-container{

    padding: 10% 10% 5% 10%;
    display: flex;

}

/* FILTROS */

h5{
    margin: 0;
}

.filters{
    flex-grow: 0.4;
}

.filters div{
    margin-bottom: 20%;
}

.filters div ul{
    list-style: none;
    padding: 0;
}

.filters div ul li{
    margin-bottom: 2%;
}

.filters div ul li a{
    text-decoration: none;
    color: #939393;
    font-size: 13px;
}

.filters form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 5%;
}

.filters form label{
    font-size: 13px;
    color: #939393;
}

input[type="number"]{
    width: 50%;
    margin-bottom: 5%;
    border: 1px solid #939393;
}

.apply{
    width: 50%;
    height: 25px;
    background-color: #003884;;
    border: 0;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}

/* PRODUTOS */

.products{
    flex-grow: 0.6;
}

.products section{
    display: flex;
    flex-wrap: wrap;
}

.products section article{
    width: 20%;
    height: 300px;
    border: 1px solid;
    margin-left: 5%;
    margin-bottom: 10%;
}

.products section article div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    font-weight: bold;
    cursor: pointer;
}

span{
    font-size: 13px;
    color: #939393;
}

.pagination-container{
    display: flex;
    padding: 1% 10% 5% 60%;
}

.pagination-container nav{
    width: 100vw;
}

.pagination-container nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.pagination-container nav ul li{
    margin-right: 10%
}

.view-all{
    width: 100%;
    display: flex;
    align-items: center
}

.view-all a{
    text-decoration: none;
    color: #939393;
}

.pagination-container nav ul li a{
    text-decoration: none;
    color: #939393;
}
/* temporario */
img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid red;
}