* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
    
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
}


/* CSS HEADER */
header {
    width: 100%;
    background-color: #000;
    position: fixed;
}

header .container {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0% 10% 0% 10%;
}

.logo{
    width: 80px;
}

header div nav a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

header div a img{
    width: 150px;
}

header div nav{
    flex-grow: 1
}

header div nav ul {
    display: flex;
    align-items: center;
    padding: 0;
}

header div nav ul li{
    margin-left: 5%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header nav ul form{
    margin-left: 5%;
}

#search{
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: black;
    padding: 0;
    outline: transparent;
    margin-left: 5%;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    width: 235px;
}

#search:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #000 inset;
}

#search:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}


.loupe{
    width: 15px;
    height: 15px;
    margin-left: -15px;
    margin-top: -5px;
}


header div nav ul li span {
    color: #939393;
    margin: 5px;
    text-transform: uppercase;
    font-size: 12px;
}

/* Responsive header*/

.icon{
    display: none !important;
}

#myLinks{
    display: none;
    background-color: black;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#myLinks a{
    text-decoration: none;
    color: white;
    margin: 15px;
}

.icon{
    color: white;
    font-size: 30px;
    width: 100%;
    display: block;
}

.icon i {
    margin-left: 90%;
}

#myLinks form{
    margin-top: 15px;
}

#myLinks ul{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
    margin: 20% 0% 2% 0%;
    padding: 0% 5%;
}

#myLinks ul li a {
    display: flex;
    align-items: center;
    margin: 0;
}

#myLinks ul li a span {
    color: #939393;
    margin-left: 5%;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}


@media (max-width: 1230px){
    
    .icon{
        display: block !important;
    }
    .top-nav{
        display: none;
    }
    #myLinks{
        padding: 10% 10% 1% 10%;
    }
    
}

@media (max-width: 680px){

    #myLinks{
        padding: 15% 10% 2% 10%;
    }
}

@media (max-width: 480px) {

   .icon{
       display: block !important;
   }

    #myLinks{
        padding: 20% 10% 1% 10%;       
    }
    
    #myLinks ul{
        margin: 20% 0% 5% 0%;
    }

}

/* CSS FOOTER */

footer{
    background-color: #000;
    color: #fff;
    width: 100%;
}

footer .container{
    display: flex;
    justify-content: space-between;
    padding: 1% 10% 2% 10%;
}

footer .container div{
    display: flex;
    flex-direction: column;
    
}

h4{
    text-transform: uppercase;
}

footer div a {
    font-weight: 200;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    margin-top: 5px;
}

.copyright{
    font-size: 12px;
    color: #939393ab;
    width: 100%;
    height: 40px;
    padding: 0% 10% 0% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top: 1px solid #939393ab;
}

/* Responsive footer */

@media (max-width: 768px) {
    footer .container{
        padding: 3% 10% 10% 10%;
        flex-direction: column;
}
    footer .container div{
        align-items: center;
    }
    
}