<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<footer>
<div class="container">

<div>
    <h4>Atendimento</h4>
    <a href="">Ajuda/Contato</a>
    <a href="">Termos e Condições</a>
</div>

<div>
    <h4>Empresa</h4>
    <a href="">Sobre nós</a>
</div>

<div>
    <h4>Mídias Sociais</h4>
    <a href="">Facebook</a>
    <a href="">Instagram</a>
</div>

<div>
    <h4>Perfil</h4>
    <a href="">Minha Conta</a>
    <a href="">Pedidos</a>
    <a href="">Rastrear Pedido</a>
</div>

</div>

<div class="copyright">
    <span>© GRUPO08 TURMA0521, todos os direitos reservados</span> 
</div>


</footer>
</html>