<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="container">
            <a href="/"><img class="logo" src="images/logo-provisorio.png" alt=""></a>
        <nav>
            <ul>
                <li><a href="/loja">Comprar</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/sobre-nos">Sobre nós</a></li>
                
                <form action="">
                <li><input type="text" name="search" id="search"> 
                <img class="loupe" src="images/loupe.png" alt=""> </li>
                </form>    
                
                <li onclick="location.href='/carrinho'"><img style="width: 20px;" src="images/shopping-cart.png" alt=""> <span>(R$100,00)</span></li>
                <li><img style="width: 20px;" src="images/user.png" alt=""> <span>Entrar/Registrar</span></li>
                
            </ul>
        </nav>
        </div>
    </header>
    
</body>

</html>