<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>


    <header>
        <div class="container">
            <a href="/"><img class="logo" src="images/logo-provisorio.png" alt=""></a>
        <nav class="top-nav">
            <ul>
                <li><a href="/loja">Comprar</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/sobre-nos">Sobre</a></li>
                
                <form action="">
                <li><input placeholder="O que você procura?" type="text" name="search" id="search"> 
                <img class="loupe" src="images/loupe.png" alt=""> </li>
                </form>    
                
                <li onclick="location.href='/carrinho'"><img style="width: 20px;" src="images/shopping-cart.png" alt=""> <span>(R$100,00)</span></li>
                <li><img style="width: 20px;" src="images/user.png" alt=""> <span>Entrar/Registrar</span></li>
                
            </ul>
        </nav>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>

    </header>

    <div id="myLinks">
        <a href="/loja">Comprar</a>
        <a href="/contato">Contato</a>
        <a href="/sobre-nos">Sobre</a>

        <form action="">
            <li><input placeholder="O que você procura?" type="text" name="search" id="search"> 
            <img class="loupe" src="images/loupe.png" alt=""> </li>
        </form> 

        <ul>
           <li><a href=""><i class="fas fa-shopping-cart"></i> <span>(R$100,00)</span></a></li>
           <li><a href=""><i class="fas fa-user"></i> <span>Entrar/Registrar</span></a></li>
           <li><a href=""><i class="fas fa-sign-out-alt"></i> <span>Sair</span> </a></li> 
        </ul>

    </div>
   
    <script>
        function myFunction() {
          var x = document.getElementById("myLinks");
          if (x.style.display === "flex") {
            x.style.display = "none";
          } else {
            x.style.display = "flex";
          }
        }
    </script>
    
</body>

</html>